{% extends "base.html" %}

{% block title %}
    <title>型号目录</title>
{% endblock %}

{% block content %}

    <form action="" method="get" class="form-inline" style="margin-bottom: 20px">
        <input type="hidden" name="brand" value="{{ brand | default('',true) }}">
        <div class="form-group">
            <input type="text" class="form-control" name="keyword" placeholder="请输入型号关键字"
            value="{{ keyword | default('',true) }}">
        </div>
        <button type="submit" class="btn btn-primary">搜索</button>
    </form>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>序号</th>
          <th>品牌</th>
          <th>型号</th>
          <th>收录时间</th>
          <th>来源</th>
        </tr>
      </thead>
      <tbody>
        {% for item in page.items %}
            <tr>
              <th scope="row">{{loop.index + (page.page - 1) * page.per_page}}</th>
              <td>
                  {{ item.brand }}
              </td>
              <td>{{ item.model }}</td>
              <td>{{ item.release_time }}</td>
              <td>
                  <a href="{{ item.source_url }}" target="_blank">
                      {{ item.source }}
                  </a>
              </td>
            </tr>
        {%  endfor %}
      </tbody>
    </table>

    <nav aria-label="Page navigation">
      <ul class="pagination">
        {% if page.has_prev %}
            <li>
              <a href="{{ url_for('web.car_list', page=page.prev_num, brand=brand, keyword=keyword) }}" aria-label="上一页">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
        {% endif %}

        {% if (page.page - 2) > 1 %}
            {% set start_page = page.page - 2 %}
        {% else %}
            {% set start_page = 1 %}
        {% endif %}

        {% if (page.page + 2) < page.pages %}
            {% set end_page = page.page + 3 %}
            {% if start_page == 1 %}
                {% set end_page = 6 %}
            {% endif %}
        {% else %}
            {% set end_page = page.pages + 1 %}
            {% if start_page != 1 %}
                {% set start_page = page.pages - 4 %}
            {% endif %}
        {% endif %}

        {% for num in range(start_page, end_page) %}
            {% if num == page.page %}
                <li class="active"><a href="#">{{ num }} <span class="sr-only">(current)</span></a></li>
            {% else %}
                <li><a href="{{ url_for('web.car_list', page=num, brand=brand, keyword=keyword) }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}


        {% if page.has_next %}
          <li>
            <a href="{{ url_for('web.car_list', page=page.next_num, brand=brand, keyword=keyword) }}" aria-label="下一页">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% endif %}

      </ul>
    </nav>
{% endblock %}