{% extends "base.html" %}

{% block title %}
    <title>首页</title>
{% endblock %}

{% block content %}
    <h1>您好,
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('web.user_center') }}">{{ current_user.nickname }}</a>
        {% else %}
            <a href="{{ url_for('web.login') }}">请登录</a>
        {% endif %}
    </h1>
    <h2>共收录{{ car.brand_count }}个品牌， {{ car.model_count }}款电动车</h2>
    <img src="{{ url_for('static', filename='11.jpg') }}" style="width: 1000px">
{% endblock %}